{{yield}}

<div class="filters">
  <a href="#" {{action "sortByDate"}} class="date">Date {{fa-icon "sort-desc"}}</a>
  <a href="#" {{action "sortByPresenter"}} class="name">Presenter {{fa-icon "sort-desc"}}</a>
</div>

<ul class="index">
  {{#each model as |event|}}
    <li class="reveal" id="{{event.id}}" {{action 'viewMore' event}}>
    <div class="header">
      <div class="date">
          {{formatDate "MMM DD YYYY @ h.mma" event.date}}
        </div>
        <div class="title">
        {{#if event.presenter}}
           <span class="presenter id-{{event.presenter.id}}">
            {{event.presenter.name}} Presents:
          </span>
        {{/if}}
          {{event.name}}
        </div>
      </div>
      <div class="toggle-it">+</div>
    </li>
  {{/each}}
  <div class="event-details">
    {{#if showDetails}}
      {{show-event event=currentEvent onCloseOut=(action "goToIndexPage") onArtistSelection=(action "goToArtistPage") onPresenterSelection=(action "goToPresenterPage")}}
    {{/if}}
  </div>
</ul>
