{{yield}}
<ul>
  {{#each model as |event|}}
    <li class="reveal" {{action 'viewMore' event}}>
    <div class="header">
        {{#if event.presenter}}
          {{!-- <span class="presenter">
            {{event.presenter.name}} Presents:
          </span> --}}
        {{/if}}
        <span class="presenter">
          <h2>{{link-to event.name}}</h2>
        </span>
      </div>
      {{#if event.showDetails}}
        <div class="content">
          {{event.description}}
          {{event.date}}
          {{event.url}}
          {{event.presenter.name}}
          {{link-to 'deets' 'events.event' event}}
          {{outlet}}
        </div>
      {{/if}}
    </li>
  {{/each}}
</ul>
