{{yield}}
<ul class="index">
  {{#each model as |event|}}
    <li class="reveal" id="{{event.id}}" {{action 'viewMore' event}}>
    <div class="header">
      <div class="date">
          {{formatDate date=event.date}}
        </div>
        <div class="title">
        {{#if event.presenter}}
           <span class="presenter">
            {{event.presenter.name}} Presents:
          </span>
        {{/if}}
          {{event.name}}
        </div>
      </div>
      <div class="toggle-it">+</div>
      {{#if event.showDetails}}
        {{show-event event=event}}
      {{/if}}
    </li>
  {{/each}}
</ul>
