{{yield}}
<div class="filters">
<ul class="parent">
  <li class="parent"><h4 {{action "revealSorting"}}>Sort +</h4></li>
    <ul>
      <li class="child"><button type="button" {{action "sortByName"}}>Name</button></li>
      <li class="child"><button type="button" {{action "sortByDate"}}>Date</button></li>
      <li class="child"><button type="button" {{action "sortByPresenter"}}>Presenter</button></li>
      <li class="child"><button type="button" {{action "showUpcoming"}}>Upcoming</button></li>
    </ul>
  </ul>
</div>

<ul class="index">
  {{#each model as |event|}}
    <li class="reveal" id="{{event.id}}" {{action 'viewMore' event}}>
    <div class="header">
      <div class="date">
          {{formatDate date=event.date}}
        </div>
        <div class="title">
        {{#if event.presenter}}
           <span class="presenter">
            {{event.presenter.name}} Presents:
          </span> 
        {{/if}}
          {{event.name}}
        </div>
      </div>
      <div class="toggle-it">+</div>
      {{#if event.showDetails}}
        {{show-event event=event}}
      {{/if}}
    </li>
  {{/each}}
</ul>
