{{yield}}
<ul>
  {{#each model as |event|}}
    <li class="reveal" id="{{event.id}}" {{action 'viewMore' event}}>
    <div class="header">
      <span class="date">
          {{formatDate date=event.date}}
        </span>
        {{#if event.presenter}}
           <span class="presenter">
            {{event.presenter.name}} Presents:
          </span> 
        {{/if}}
        <span class="title">
          {{event.name}}
        </span>
      </div>
      {{#if event.showDetails}}
        {{show-event event=event}}
      {{/if}}
    </li>
  {{/each}}
</ul>
