  {{#if event.isEditing}}
  <form>
    <div>
      <label for="name">Title</label>
      {{input value=event.name id="name"}}
    </div>

    <div>
      <label for="date">Date</label>
      {{input type="datetime-local" value=event.date id="date"}}
    </div>

    <div>
      <label for="price">Price</label>
      {{input value=event.price id="price"}}
    </div>

    <div>
      <label for="artist">Artists</label>
      {{all-artists artists=allArtists onArtistAdd=(action "handleAddArtist")}}
      <div class="selectedArtists">
        {{#each model.artists as |artist|}}
          <div class="">
            {{artist.name}}
          </div>
        {{/each}}
      </div>
    </div>

    <div>
      <label for="description">Description</label>
      {{textarea value=event.description id="description"}}
    </div>

    <div>
      <label for="url">URL</label>
      {{input value=event.url id="url"}}
    </div>

    <div>
      <label for="presenter">Presenter</label>
      {{all-presenters presenters=allPresenters onPresenterAdd=(action "handleAddPresenter")}}

      <div class="selectedPresenter">
          <div class="">
            {{model.presenter.name}}
          </div>
      </div>
    </div>

    <button {{action 'update'}} id="submit" class="btn">Update</button>
  </form>
  {{else}}

    <div class="event show has-image vert">
  {{#if event.image}}
      <div class="image">
        <img src={{event.image}}>
      </div>
    {{/if}}
    <div class="info">
    <div class="title">
      {{#if event.presenter}}
        <h3 class="presenter">
          {{event.presenter.name}} Presents:
        </h3>
      {{/if}}
      <h1 class="title">{{event.name}}</h1>
      <h4 class="date">{{formatDate "MMM DD YYYY @ h.mma" event.date}}
      {{#if event.price}}
        <span class="price"> -
          {{event.price}}
        </span>
      {{else}}
        <span class="price"> - Free</span>
      {{/if}}
      </h4>

    </div>

      <div class="description">{{event.description}}</div>
      {{#if event.url}}
        <h4 class="link">RSVP: {{event.url}}</h4>
      {{/if}}
    </div>

    <div class="meta">
    <ul class="artists">
    <h4 class="header">{{link-to "Artists" "artists"}}</h4>
    {{#each event.artists as |artist|}}
      <li>
        {{#link-to "artists.artist" artist}}
          {{artist.name}}
          <small>({{artist.events.length}})</small>
        {{/link-to}}
      </li>
    {{/each}}
    </ul>
    </div>


  </div>
  {{/if}}
