{{#if presenter.isEditing}}
<form>
  <div>
    <label for='name'>Name</label>
    {{input value=presenter.name id='name'}}
  </div>

  <div>
    <label for='description'>Description</label>
    {{input value=presenter.description id='description'}}
  </div>

  <div>
    <label for='url'>URL</label>
    {{input value=presenter.url id='url'}}
  </div>

  <div>
    <label for='image'>Image</label>
    {{input value=presenter.image id='image'}}
  </div>

  <input type='submit' value='update' {{action 'update'}}>
</form>
{{else}}



<div class="presenter show">
  <div class="info">
     <div class="inner">
{{presenter.description}}
      <h4 class="link"><a href="{{presenter.url}}">{{presenter.url}}</a></h4>    
  </div>
  </div>
   {{#if presenter.image}}
     <div class="image">
       <img src={{presenter.image}}>
     </div>
   {{/if}}
  </div>


{{/if}}
