{{#if presenter.isEditing}}
<form>
  <div>
    <label for='name'>Name</label>
    {{input value=presenter.name id='name'}}
  </div>

  <div>
    <label for='description'>Description</label>
    {{input value=presenter.description id='description'}}
  </div>

  <div>
    <label for='url'>URL</label>
    {{input value=presenter.url id='url'}}
  </div>

  <div>
    <label for='image'>Image</label>
    {{input value=presenter.image id='image'}}
  </div>

  <input type='submit' value='update' {{action 'update'}}>
</form>
{{else}}
Name: {{presenter.name}}
Description: {{presenter.description}}<br>
url: {{presenter.url}}<br>
image: {{presenter.image}}<br>
events:<br>
{{#each presenter.events as |event|}}
  {{event.name}}<br>
{{/each}}

<div class="presenter show vert">
  <div class="image">
    {{presenter.image}}
  </div>
  <div class="description">
  <header>
      <h1 class="title">
        {{event.presenter.name}}
      </h1>
      <h4 class="link">{{presenter.url}}</h4>
  </header>
    {{presenter.description}}
  </div>
  {{#each presenter.events as |event|}}
    {{event.name}}<br>
  {{/each}}
  </div>


{{/if}}
