
<h4 class="title"><a href="/presenters">Presenters</a> : {{model.name}}</h4>
{{list-events model=model.events onFinishArtistCleanUp=(action 'transitionToArtist') onFinishPresenterCleanUp=(action 'transitionToPresenter')}}
<div class="presenter show">
{{show-presenter presenter=model}}
</div>
{{#if session.isAuthenticated}}
<button id='edit' {{action 'edit'}}>Edit</button>
<button id='delete' {{action 'delete'}}>Delete</button>
{{/if}}