{{outlet}}
<h1>Events</h1>
<ul>
  {{#each model as |event|}}
    <li>
      <div class="reveal header">
      {{#link-to "events.event" event}}
      {{event.date}}
        {{#if event.presenter}}
          <span class="presenter">
            {{event.presenter.name}} Presents: 
          </span>
        {{/if}} 
        <span class="presenter">
          {{event.name}}
        </span>
        {{/link-to}}
      </div>
      <div class="reveal content">
        {{outlet}}
      </div>
    </li>
  {{/each}}
</ul>
