{{outlet}}
<h1>Events</h1>

<div class="">
  <button type="button" {{action "sortByName"}}>Name</button>
  <button type="button" {{action "sortByDate"}}>Date</button>
  <button type="button" {{action "sortByPresenter"}}>Presenter</button>
  <button type="button" {{action "showUpcoming"}}>Upcoming</button>
</div>

{{list-events model=model}}
