<h1>New Event</h1>

<form>
  <div>
    <label for="name">Title</label>
    {{input value=model.name id="name"}}
  </div>

  <div>
    <label for="presenter">Presenter</label>
    {{input value=model.presenterId id="id"}}
    {{all-presenters presenters=model.presenters}}
  </div>

  <div>
    <label for="date">Date</label>
    {{input value=model.date id="date"}}
  </div>

  <div>
    <label for="price">Price</label>
    {{input value=model.price id="price"}}
  </div>

  <div class="artists">
    <label for="artist">Artists</label>
    {{input value=model.artists id="artist"}}
    {{all-artists artists=model.artists}}
  </div>

  <div>
    <label for="description">Description</label>
    {{textarea value=model.description id="description"}}
  </div>

  <button {{action 'save'}} id="submit" class="btn">Save</button>
</form>
