
<form>
<h1>New Event</h1>

<div>
  <label for="new-image">New Image</label>
  {{s3-upload id="new-image" onComplete="imageUploadComplete"}}
</div>
  <div>
    <label for="name">Title</label>
    {{input value=model.name id="name"}}
  </div>

  <div>
    <label for="date">Date</label>
    {{input type="datetime-local" value=model.date id="date"}}
  </div>

  <div>
    <label for="price">Price</label>
    {{input value=model.price id="price"}}
  </div>

  <div>
    <label for="artist">Artists</label>
    {{all-artists artists=allArtists onArtistAdd=(action "handleAddArtist")}}
    <div class="selectedArtists">
      {{#each model.artists as |artist|}}
        <div class="">
          {{artist.name}}
        </div>
      {{/each}}
    </div>
  </div>

  <div>
    <label for="description">Description</label>
    {{textarea value=model.description id="description"}}
  </div>

  <div>
    <label for="presenter">Presenter</label>
    {{all-presenters presenters=allPresenters onPresenterAdd=(action "handleAddPresenter")}}

    <div class="selectedPresenter">
        <div class="">
          {{model.presenter.name}}
        </div>
    </div>
  </div>

  <button {{action 'save'}} id="submit" class="btn">Save</button>
</form>
