<h1>New Event</h1>
<form>
  <div>
    <label for="name">Title</label>
    {{input value=model.name id="name"}}
  </div>

  <div>
    <label for="date">Date</label>
    {{input value=model.date id="date"}}
  </div>

  <div>
    <label for="price">Price</label>
    {{input value=model.price id="price"}}
  </div>

  <!-- has many artists -->
  {{#each artists as |artist|}}
  <div>
    <label for="artist">Artists</label>
    {{input value=artist.name id="artist"}}
  </div>
  {{/each}}

  <div>
    <label for="description">Description</label>
    {{textarea value=model.description id="description"}}
  </div>

  <!-- belongs to presenter -->
  <div>
    <label for="presenter">Presenter</label>
    {{input value=presenter.name id="presenter"}}
  </div>

  <button {{action 'save'}} id="submit" class="btn">Save</button>
</form>
