
<form class="new-event">
<h2>Add event</h2>

<div class="image">
  <label for="new-image">Image</label>
  {{s3-upload id="new-image" onComplete="imageUploadComplete"}}
</div>
  <div class="title">
    {{input value=model.name id="name" placeholder="Event Title"}}
  </div>

  <div class="date">
    <label for="date">Date</label>
    {{input type="datetime-local" value=model.date id="date"}}
  </div>

  <div class="price">
    {{input value=model.price id="price" placeholder="Price"}}
  </div>

  <div class="artists">
    <label for="artist">Artists</label>
    {{all-artists artists=allArtists onArtistAdd=(action "handleAddArtist")}}
    <div class="selectedArtists">
      {{#each model.artists as |artist|}}
        <div class="">
          {{artist.name}}
        </div>
      {{/each}}
    </div>
  </div>

  <div class="description">
    <label for="description">Description</label>
    {{textarea value=model.description id="description" placeholder="Event Description"}}
  </div>

  <div class="presenter">
    <label for="presenter">Presenter</label>
    {{all-presenters presenters=allPresenters onPresenterAdd=(action "handleAddPresenter")}}

    <div class="selectedPresenter">
        <div class="">
          {{model.presenter.name}}
        </div>
    </div>
  </div>

  <button {{action 'save'}} id="submit" class="btn save">Save</button>
</form>
