<header>
  <h1 id="logo">{{link-to 'the Sump' 'index'}}</h1>
  <nav id="main">
    {{link-to 'Events' 'index' class="events"}}
    {{link-to 'About' 'about' class="about"}}

    {{#if session.isAuthenticated}}
    <a href="#" {{action 'invalidateSession'}} class="logout">Logout</a>
    {{/if}}
  </nav>
</header>
<main>

  {{outlet}}
</main>
