<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<header>
  <h1 id="logo">{{link-to 'the Sump' 'index'}}</h1>
  <nav id="main">
    {{link-to 'Artists' 'artists' class="artists"}}
    {{link-to 'Presenters' 'presenters' class="presenters"}}
    {{link-to 'Events' 'index' class="events"}}
    {{link-to 'About' 'about' class="about"}}
  </nav>
</header>
<main>

  {{outlet}}
  </main>
  <footer>
    <small><a href="https://www.google.com/maps/place/1563+Decatur+St,+Ridgewood,+NY+11385/data=!4m2!3m1!1s0x89c25c3adc5a567d:0x3574ef8d136e58c?sa=X&ved=0ahUKEwiktNX6rbjNAhVFyT4KHcfxD8cQ8gEIHTAA" target="_blank">1563 Decatur St, Ridgewood, NY 11385 +</a></small>

        {{#if session.isAuthenticated}}
    <a href="#" {{action 'invalidateSession'}} class="logout">Logout</a>
    {{/if}}
  </footer>

