<header>
  <h1 id="logo">{{link-to 'the Sump' 'index'}}</h1>
  <nav id="main">
    {{link-to 'Artists' 'artists'}}
    {{link-to 'Presenters' 'presenters'}}
    {{link-to 'Events' 'events'}} |
    <li>< a href="#" {{action 'invalidateSession'}}>Logout</a></li>
  </nav>
</header>
<main>
  {{outlet}}
</main>
