<header>
  <h1 id="logo">{{link-to 'the Sump' 'index'}}</h1>
  <nav id="main">
    {{link-to 'Artists' 'artists'}}
    {{link-to 'Presenters' 'presenters'}}
    {{link-to 'Events' 'events'}}

    {{#if session.isAuthenticated}}
    <a href="#" {{action 'invalidateSession'}}>Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
</header>
<main>
  {{outlet}}
</main>
